@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap');

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4e54c8, #8f94fb);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

#app {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.current-weather {
    margin-top: 20px;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.temperature {
    font-size: 48px;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFDD57;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.location,
.temp-range {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.forecast {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.forecast-header {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.daily-forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.day {
    text-align: center;
    flex: 1 1 calc(33.33% - 10px);
    margin: 5px;
}

.day img {
    width: 40px;
    height: 40px;
}

.temp {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFDD57;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.day-name {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.autocomplete-container {
    position: relative;
    width: 100%;
}

#city {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

#city:focus {
    outline: none;
}

#suggestions {
    position:static;
    top: 100%; /* Make sure it is right below the input field */
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none; /* Initially hidden */
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
    color: black; /* Ensure text is visible */
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

#getWeather {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #4e54c8;
    color: white;
    cursor: pointer;
}

#getWeather:hover {
    background: #3b3f99;
}